* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.6);
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar ul li a:hover {
    color: #f5b7b1;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url(download.jfif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Text Content */
.content {
    color: white;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Buttons */
.buttons .btn {
    padding: 12px 30px;
    margin: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    background: #f5b7b1;
    color: #000;
    font-weight: bold;
}

.buttons .outline {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.buttons .btn:hover {
    opacity: 0.85;
}